.row {
    display: flex;
    align-items: center;
    justify-content: center;
}



.cols .but {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cols .boxwhite {
    width: 1000px;
    background-color: aliceblue;
}